		<div class="extra-content-2">
				<div class="form">
					<%= form_for @user, remote: true, :method => :put, :html => {:id => "form-2" } do |f| %>
						<div class="row">
							<div class="span2">
								<%= f.label :email %>
								<%= f.text_field :email, placeholder: "Email" %>
								<div class="message" id="email_error"></div>
							</div>
						</div>
					 		<%= f.submit "Request eBook!", :class => "submit-2", :id => "submit-part-2" %>
						<% end %>
						<div class="back-link" id="back-link-1">Back</div>
				</div>
		</div>
		<script type="text/javascript">
			$('input#user_email').blur(function(event){
					var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
					if (!email_format.test($('input#user_email').val())) {
						event.preventDefault();
						$('#email_error').empty().append("Please enter a valid email");
					}
					if (email_format.test($('input#user_email').val())) {
						$('#email_error').empty();
					}
			});
			$('#submit-part-2').click(function(event){
					var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
					if (!email_format.test($('input#user_email').val())) {
						event.preventDefault();
						$('#email_error').empty().append("Please enter a valid email");
					}
			});
			$('#back-link-1').click(function(){
				$('.extra-content-2').hide();
				$('.extra-content').show().insertAfter('div.ribbon-content');
			});
		</script>