<div align="center">
	<img src="/assets/banner.png" class="banner">
</div>
<div class="container" align="center">
	<div class="first-heading">
		Thanks for signing up
	</div>
	<div class="second-heading">
		A financial advisor will reach out to you soon!
	</div>
</div>